.question-mark-home {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
    z-index: 999;
    transition: transform 0.3s ease;
  }
  
  .question-mark-home:hover .tooltip-text {
    opacity: 1;
    transform: translateY(-150%);
  }